h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #000;
}

/* start css for banner slider section */
.banner_slider {
  padding: 0 100px;
  margin-top: 0px;
}

.banner_slider .banner_img.slick-slide {
  position: relative;
  overflow: hidden;
}

.banner_slider .banner_img.slick-slide::before {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: #00000021;
  content: "";
}

.banner_slider .banner_img.slick-slide img {
  border-radius: 20px;
  width: 100%;
  height: 500px;
  margin: 0;
  object-fit: cover;
}

.banner_slider .slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.banner_slider .slick-dots li button:before {
  font-size: 13px;
  color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  opacity: 1;
}

.banner_slider .slick-dots li.slick-active button:before {
  color: #ffffff;
}

.banner_slider .banner_img .banner_content {
  position: absolute;
  left: 50px;
  top: 50%;
  width: 45%;
  transform: translateY(-50%);
}

.banner_slider .banner_img .banner_content h3 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.banner_slider .banner_img .banner_content p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 15px 0;
}

.banner_slider .banner_img .banner_content a {
  border: 1px solid #fff;
  border-radius: 6px;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 1.875rem;
  display: inline-block;
  color: #fff;
}

/* close css for banner slider section */

/* start css for category slider section */
.category_slider {
  padding: 50px 50px 0;
}

.slick-slide a {
  text-decoration: none;
  position: relative;
}

.slick-slide img {
  width: 200px;
  height: 250px;
  border-radius: 104px;
  object-fit: cover;
  margin: 0 2rem 0;
}

.slick-slide h4 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 0;
}

.slick-prev:before,
.slick-next:before {
  color: #820408;
  font-size: 1.875rem;
}

.slick-prev:before {
  content: "\f053";
  font-family: "FontAwesome";
}

.slick-next:before {
  content: "\f054";
  font-family: "FontAwesome";
}

.slick-prev,
.slick-next {
  z-index: 9;
  width: auto;
  background-color: #ffffff;
  height: auto;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 17px -10px #00000082;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: #fff;
}

.slick-prev {
  left: 17px;
  padding: 15px 20px 13px 15px;
}

.slick-next {
  padding: 15px 15px 13px 20px;
  right: 20px;
}

/* close css for category slider section */

/* start css for two banner section */
.twobannersection {
  padding: 50px 100px 0;
}

.twobannersection img {
  width: 100%;
  border-radius: 20px;
}


.twobandata {
  position: absolute;
  top: 55%;
  left: 35px;
  transform: translateY(-50%);
  width: 50%;
}

.twobandata h4 {
  font-size: 1.875rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.twobandata p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 15px 0;
}

.twobandata a {
  border: 1px solid #fff;
  border-radius: 6px;
  text-decoration: none;
  padding: 6px 20px;
  font-size: 1.125rem;
  display: inline-block;
  color: #fff;
}

/* close css for two banner section */

/* start css for best seller section */
.bestseller {
  padding: 50px 100px 0;
}

.heading_text h3 {
  text-align: center;
  font-size: 2.1875rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0 35px;
}

.samecard .slick-slide img {
  width: 225px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  margin: 0 20px 0;
}

.samecard .slick-prev {
  left: 0;
}

.samecard .slick-next {
  right: 5px;
}

.samecard .slick-slide a {
  display: grid;
}

.samecard .slick-slide .card_name {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.samecard .slick-slide .card_name h4 {
  color: #fff;
  padding: 0 45px;
  font-size: 1.375rem;
  font-weight: 500;
}

.samecard .slick-slide .card_name p {
  color: #fff;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
}

/* close css for best seller section */

/* start css for top category section */
.topcategory {
  padding: 50px 100px 0;
}

/* close css for top category section */

/* start css for shop by occasions section */
.shopbyocca {
  padding: 50px 100px 0;
}

.shopbyocca img {
  width: 100%;
  height: 725px;
  object-fit: cover;
  border-radius: 20px;
}

.shopbyocca .twobandata {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 100px;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
}

.shopbyocca .twobandata h4 {
  font-size: 3.125rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  padding: 0 0 25px;
  margin: 0;
  padding: 0;
}

.shopbyocca .twobandata a {
  border: 1px solid #fff;
  border-radius: 6px;
  text-decoration: none;
  padding: 10px 45px;
  font-size: 1.5rem;
  display: inline-block;
  color: #fff;
}

.overlay::before {
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.shopbyocca .heighautoimg a {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  display: block;
}

.shopbyocca .heighautoimg a img {
  width: 100%;
  height: 260px;
}

.shopbyocca .heighautoimg a p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.shopbyocca .heighautoimg:nth-child(2) a img {
  height: 220px;
}

.shopbyocca .heighautoimg:nth-child(3) a img {
  height: 195px;
}

.shopbyocca .second_row:nth-child(1) a img {
  height: 190px;
}

.shopbyocca .second_row:nth-child(2) a img {
  height: 220px;
}

.shopbyocca .second_row:nth-child(3) a img {
  height: 265px;
}

.shopbyocca .forth_row:nth-child(1) a img {
  height: 350px;
}

.shopbyocca .forth_row:nth-child(2) a img {
  height: 350px;
}

/* close css for shop by occasions section */

/* start css for pamper zone section */
.pamperzone {
  padding: 50px 100px 0;
}

.pamperzone .twobandata h4 {
  color: #000;
  font-size: 3.125rem;
  padding: 0 0 20px;
  font-weight: 600;
}

.pamperzone .twobandata a {
  background-color: #801317;
  color: #ffffff;
  border: 1px solid #801317;
  padding: 10px 25px;
  font-size: 1.25rem;
}

.pamperzone img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

/* close css for pamper zone section */

/* start css for three point section */
.threepoint {
  padding: 50px 100px;
}

.threepoint img {
  margin-bottom: 16px;
}

.threepoint h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 4px;
}

.threepoint p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

/* close css for three point section */